# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase & Services (Security)
**/google-services.json
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Node / Functions
**/node_modules/
**/dist/
**/lib/
functions/package-lock.json
web-site/package-lock.json

# Web Site
web-site/.env
web-site/.env.local
web-site/.env.*.local
