<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AviFacil">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.avicultor.CadastroAvicultorActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:label="AviFacil - Dashboard"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="AviFacil - Home" />

        <activity
            android:name=".ui.lote.LotesActivity"
            android:label="@string/title_lista_lotes" />

        <activity
            android:name=".ui.lote.CadastroLoteActivity"
            android:label="@string/title_cadastro_lote"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.registro.ListaRegistrosActivity"
            android:label="@string/title_lista_registros" />

        <activity
            android:name=".ui.registro.CadastroRegistroActivity"
            android:label="@string/title_cadastro_registro"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.lote.DetalheLoteActivity"
            android:label="@string/title_detalhe_lote" />

    </application>

</manifest>
